<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
  <title>Agora</title>
</head>
<body>

  <div class="login">

    <h1>Login</h1>

    <form action="/login" method="post">
      <div class="Email">
        <label>Email</label>
        <input type="text" placeholder="Email Address" name="email">
      </div>

      <div class="Password">
        <label>Password</label>
        <input type="password" placeholder="Password" name="password">
      </div>

      <button type="submit">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </div>
</body>
</html>
