<!-- views/signup.html -->
<!doctype html>
<html>
<head>
  <title>Agora</title>
</head>
<body>

  <div class="signup">

    <h1>Signup</h1>

    <form action="/signup" method="post">
      <div class="Email">
        <label>Email</label>
        <input type="text"placeholder="Email Address" name="email">
      </div>

      <div class="Password">
        <label>Password</label>
        <input type="password" placeholder="Login" name="password">
      </div>

      <button type="submit">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </div>
</body>
</html>
