
.hList {
    list-style-type:none;
    padding:0px;
    margin:0px;
}
li {
    float: left;
}

#topNav {
    background-color: cadetblue;
    height: 50px;
    align-content: center;
}

.topNavItems {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#classSelector {
    width: 50%;
    margin: 10px auto;
    background-color: green;
    border-color: black;
    border-radius: 10px;
}
