.panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 500px;
	height: 100%;
	background: #333;
	box-shadow: 0px 0px 10px;
}

h3 {
	position: relative;
	padding: 12px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	border-bottom: 4px solid #222;
}

.exitMenuButton {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	vertical-align: top;
}

.exitMenuButton:hover {
	color: #fff;
}

.panel ul {
	list-style: none;
	font-weight: 300;
	border-top: 1px solid #151515;
	border-bottom: 1px solid #454545;
}

.panel ul li {
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
}

.panel ul li a {
	position: relative;
	display: block;
	padding: 10px;
	color: #999;
	text-decoration: none;
}

.panel ul li a:hover {
	background: #000;
	color: #fff;
}

.panel ul li a i {
	position: absolute;
	top: 15px;
	right: 10px;
	opacity: .5;
}
