::-webkit-scrollbar { 
    display: none; 
}

ul.ui-autocomplete.ui-menu {
    width:270px;
    font-size: 10pt;
    font-family: avenir next;
}

#autocomplete {
    width: 280px;
    font-size: 12pt;
}

.panel {
	position: fixed;
	top: 60px;
	left: 0;
	width: 500px;
	height: 100%;
	background: #f3f3f3;
	box-shadow: 0px 5px 10px;
	overflow: auto;
}

h3 {
	position: relative;
	padding: 12px 20px;
	color: black;
	font-family: Avenir Next;
	font-size: 1.2em;
	font-weight: 400;
	border-bottom: 4px solid #3a3a3a;
}

.panel ul {
	list-style: none;
	font-weight: 300;
}

.panel ul li {
	border-bottom: 1px solid #3a3a3a;
}

.panel ul li a {
	position: relative;
	display: block;
	padding: 10px;
	color: #666666;
	text-decoration: none;
	font-family: Myriad Pro;
}

.panel ul li a > :last-child {
	padding-left: 12px;
	font-family: Avenir;
	font-size: 11pt;
}

.panel ul li a i {
	position: absolute;
	top: 15px;
	right: 10px;
	opacity: .5;
}

#panelTwo {
	display: none;
}

#panelThree {
	display: none;
	left: 200px;
}

#headerBar {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	height: 60px;
	background: #012b35;
	width: 100%;
	border-bottom: 2px solid #881c1c;
	box-shadow: 0px 0px 10px;
	font-family: Avenir Next;
	font-size: 20pt;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	
}

#pageTitle {
	position: relative;
	display: block;
	width: 200px;
	margin: auto;
	color: #fdf5e4;
}

#logIn {
	position: relative;
	display: block;
	float: right;
	background: #f9c45c;
	font-size: 14pt;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 8px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	bottom: 50px;
	margin-right: 10px;
	width: 120px;
	color: #012b35;
}

#signIn {
	position: relative;
	display: block;
	float: right;
	background: #71b2c9;
	font-size: 14pt;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 8px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	bottom: 50px;
	margin-right: 10px;
	width: 120px;
	color: #012b35;
}

body {
	margin: 0;
	padding: 0;
}