<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/css/ndex.css"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/ndex.js"></script>
</head>
<body>
    <div class="panel" id="one">
        <h3>Menu <a href="#" class="exitMenuButton">x</a></h3>
        <ul>
            <li><a href="#" class="class1">CMPSCI 121</a></li>
            <li><a href="#">CMPSCI 187</a></li>
            <li><a href="#">MATH 233</a></li>
            <li><a href="#">PHYSICS 151</a></li>
        </ul>
    </div>
</body>
</html>
