<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>
<body>
    <div class="panel open" id="panelOne">
        <h3><label for:"autocomplete>Enter your class:</label> <input id="autocomplete"></h3>
        <ul>
            <li><a href="#" class="item1-1">CMPSCI 121</a></li>
            <li><a href="#" class="item1-2">CMPSCI 187</a></li>
            <li><a href="#" class="item1-3">MATH 233</a></li>
            <li><a href="#" class="item1-4">PHYSICS 151</a></li>
        </ul>
    </div>
    <div class="panel closed" id="panelTwo">
        <h3>Menu</h3>
        <ul>
            <li><a href="#" class="item2-1">CMPSCI 121</a></li>
            <li><a href="#" class="item2-2">CMPSCI 187</a></li>
            <li><a href="#" class="item2-3">MATH 233</a></li>
            <li><a href="#" class="item2-4">PHYSICS 151</a></li>
        </ul>
    </div>
    <div class="panel closed" id="panelThree">
        <h3>Menu</h3>
        <ul>
            <li><a href="#" class="item3-1">CMPSCI 121</a></li>
            <li><a href="#" class="item3-2">CMPSCI 187</a></li>
            <li><a href="#" class="item3-3">MATH 233</a></li>
            <li><a href="#" class="item3-4">PHYSICS 151</a></li>
        </ul>
    </div>
</body>
</html>
