<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>
<body>
    <div class="panel open" id="panelOne">
        <h3><label for:"autocomplete>Find your classes:</label> <input id="autocomplete"></h3>
        <ul>
            <li>
                <a href="#" class="item1-1">
                    <div class="title">CMPSCI 121</div>
                    <div>Introduction to Computer Science</div>
                </a>
            </li>
            <li>
                <a href="#" class="item1-2">
                    <div>CMPSCI 187</div>
                    <div>Data Structures</div>
                </a>
            </li>
            <li>
                <a href="#" class="item1-3">
                    <div>MATH 233</div>
                    <div>Multivariable Calculus</div>
                </a>
            </li>
            <li>
                <a href="#" class="item1-4">
                    <div>PHYSICS 151</div>
                    <div>General Physics I</div>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="panel closed" id="panelTwo">
        <h3>Menu</h3>
        <ul>
            <li>
                <a href="#" class="item2">
                    <div class="title">Homework #1</div>
                    <div class="members">3 members</div>
                </a>
            </li>
            <li>
                <a href="#" class="item2">
                    <div>Discussion  - Quiz 2</div>
                    <div class="members">0 members</div>
                </a>
            </li>
            <li>
                <a href="#" class="item2">
                    <div>Wednesday Study Group</div>
                    <div class="members">5 members</div>
                </a>
            </li>
            <li>
                <a href="#" class="item2">
                    <div>Homework #2</div>
                    <div class="members">9 members</div>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="panel closed" id="panelThree">
        <h3>Menu</h3>
        <ul>
            <li><a href="#" class="item3-1">Cheyan Setayesh</a></li>
            <li><a href="#" class="item3-2">Doug Gandle</a></li>
            <li><a href="#" class="item3-3">Ben Espey</a></li>
            <li><a href="#" class="item3-4">Cosimo Leone</a></li>
        </ul>
    </div>
    
    <div id="headerBar">
        <div id="pageTitle">hackMeet.me</div>
        <a id="signIn">Sign Out</a>
        <a id="logIn">Create Group</a>
    </div>
</body>
</html>
